{% extends "base.html" %}

{% block search-bar %}
<div class="homepage-container">
    <h1 class="homepage-title">PillPopperPro</h1>
    
    <div class="button-group">
        <a href="{% url 'dispense' %}" id="id_dispense">
            <button class="homepage-button">Dispense</button>
        </a>
        <a href="{% url 'pill_box' %}" id="id_pill_box">
            <button class="homepage-button">PillBox</button>
        </a>
        <a href="{% url 'dashboard' %}" id="id_dashboard">
            <button class="homepage-button">Dashboard</button>
        </a>
        <a href="{% url 'account' %}" id="id_account">
            <button class="homepage-button">Account</button>
        </a>
    </div>
</div>

<script>
    window.onload = pill_refills;
</script>
{% endblock %}
