{% extends "base.html" %}

{% block search-bar %}
<div class="container">
    <div class="big-heading">
        PillPopperPro
    </div>
    <a href="{% url 'dispense' %}" id="id_dispense">
        <button>Dispense</button>
    </a>
    <a href="{% url 'pill_box' %}" id="id_pill_box">
        <button>PillBox</button>
    </a>
    <a href="{% url 'dashboard' %}" id="id_dashboard">
        <button>Dashboard</button>
    </a>
    <a href="{% url 'account' %}" id="id_account">
        <button>Account</button>
    </a>
</div>
{% endblock %}