{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="login-container">
    <div class="login-box">
        <h2>Login to PillPopperPro</h2>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>

            {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <button type="submit" class="btn-primary">Submit</button>

            <div class="button-row">
                <a href="{% url 'register' %}" class="btn-secondary">Register</a>
                <a href="{% url 'register' %}" class="btn-google">
                    <img src="{% static 'google.png' %}" alt="Google Logo">
                    Login with Google
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
