{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">Add New Prescription</h2>

    <form method="post" action="{% url 'new_pill_form' slot_id=id %}" class="styled-form">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="{{ form.dosage.id_for_label }}">Dosage:</label>
            {{ form.dosage }}
        </div>

        <div class="form-group">
            <label for="{{ form.quantity_initial.id_for_label }}">Quantity Initial:</label>
            {{ form.quantity_initial }}
        </div>

        <div class="form-group">
            <label for="{{ form.disposal_times.id_for_label }}">Disposal Times:</label>
            <div class="checkbox-container">
                {{ form.disposal_times }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.timezone.id_for_label }}">Time Zone:</label>
            {{ form.timezone }}
        </div>        

        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>

{% load static %}
{% endblock %}
