{% extends "base.html" %}

{% block content %}
<div class="form-container-pill">
    <h2 class="form-title">Add New Prescription</h2>

    <form method="post" action="{% url 'new_pill_form' slot_id=id %}" enctype="multipart/form-data" class="styled-form">
        {% csrf_token %}

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                <p class="error-message"><strong>{{ field.label }}:</strong> {{ error }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}

        
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="{{ form.dosage.id_for_label }}">Dosage:</label>
            {{ form.dosage }}
        </div>

        <div class="form-group">
            <label for="{{ form.quantity_initial.id_for_label }}">Quantity Initial:</label>
            {{ form.quantity_initial }}
        </div>

        <div class="form-group">
            <label for="{{ form.days_of_week.id_for_label }}">Days of the Week:</label>
            <div class="checkbox-container">
                {% for checkbox in form.days_of_week %}
                    <label class="checkbox-label">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                {% endfor %}
            </div>
        </div>
        

        <div class="form-group">
            <label for="{{ form.disposal_times.id_for_label }}">Disposal Times:</label>
            <div class="checkbox-container">
                <div class="scrollable-checkbox-list">
                    {% for value, label in form.fields.disposal_times.choices %}
                        <label {% if value in selected_disposal_times %}
                                    class="checkbox-label selected"
                                {% else %}
                                    class="checkbox-label"
                                {% endif %} onclick="toggleSelection(this)">
                            <input type="checkbox" 
                                name="{{ form.disposal_times.name }}" 
                                value="{{ value }}" 
                                id="{{value}}" 
                                {% if value in selected_disposal_times %} checked {% endif %}
                                hidden>
                            <span class="time-label">{{ label }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        
        <div class="form-group">
            <label for="{{ form.timezone.id_for_label }}">Time Zone:</label>
            {{ form.timezone }}
        </div>  

        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Upload Pill Image:</label>
            {{ form.image }}
        </div>

        <div class="form-group">
            <button type="submit" class="submit-button-pill">Submit</button>
        </div>        

    </form>
</div>

<script>
    function toggleSelection(label) {
        let checkbox = label.querySelector("input[type='checkbox']");
        checkbox.checked = !checkbox.checked;
        label.classList.toggle("selected", checkbox.checked);
    }
</script>


{% load static %}
{% endblock %}
