{% extends "base.html" %}



{% block content %}
<style>
    .title-container {
        text-align: center;
        margin-top: 20px;
        font-size: 2rem;
        font-weight: bold;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-button {
        width: 150px; /* Adjust as needed */
        height: 150px;
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 50%; /* Makes the button a perfect circle */
        overflow: hidden; /* Ensures image stays within the circular boundary */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-button img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%; /* Ensures the image itself is circular */
        transition: transform 0.2s ease-in-out;
    }

    .image-button img:hover {
        transform: scale(1.1);
    }
</style>

<div class="title-container">
    <h1>Pill Box</h1>
</div>

<div class="grid-container">

    <div class="grid-item">
        <a href="{% url 'new_pill_form' %}">
            <button class="image-button">
                {% load static %}
                <img src="{% static 'pill.jpeg' %}" alt="Button 1">
            </button>
        </a>
    </div>
    <div class="grid-item">
        <a href="{% url 'new_pill_form' %}">
            <button class="image-button">
                {% load static %}
                <img src="{% static 'pill.jpeg' %}" alt="Button 2">
            </button>
        </a>
    </div>
    <div class="grid-item">
        <a href="{% url 'new_pill_form' %}">
            <button class="image-button">
                {% load static %}
                <img src="{% static 'pill.jpeg' %}" alt="Button 3">
            </button>
        </a>
    </div>
    <div class="grid-item">
        <a href="{% url 'new_pill_form' %}">
            <button class="image-button">
                {% load static %}
                <img src="{% static 'pill.jpeg' %}" alt="Button 4">
            </button>
        </a>
    </div>
    <div class="grid-item">
        <a href="{% url 'new_pill_form' %}">
            <button class="image-button">
                {% load static %}
                <img src="{% static 'pill.jpeg' %}" alt="Button 5">
            </button>
        </a>
    </div>
    <div class="grid-item">
        <a href="{% url 'new_pill_form' %}">
            <button class="image-button">
                {% load static %}
                <img src="{% static 'pill.jpeg' %}" alt="Button 6">
            </button>
        </a>
    </div>
</div>

{% endblock %}
